{% extends "layouts/standard.njk" %}
{% block head %}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
  />
{% endblock %}
{% block body %}
  <header class="sticky top-0 z-10 flex h-16 items-center border-b bg-white">
    <div class="container mx-auto flex items-center justify-between">
      <h1 class="text-base/none font-bold">Vite Static Site</h1>
      <div>
        <a
          href="https://github.com/uznam8x/vite-static-site-boilerplate"
          target="_blank"
          class="flex items-center justify-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24" width="24" height="24">
            <path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </header>
  <main class="container relative mx-auto flex">
    <aside class="h-[calc(100vh_-_64px)] w-64 border-r pt-8">
      <nav>
        <ul class="flex flex-col gap-y-4">
          <li>
            <p class="py-1 text-sm font-semibold text-black">Get started</p>
            <a href="#introduction" class="flex py-1 text-base font-medium text-gray-500">Introduction</a>
          </li>
          <li>
            <p class="py-1 text-sm font-semibold text-black">Components</p>
            <a href="#button" class="flex py-1 text-base font-medium text-gray-500">Button</a>
            <a href="#progress" class="flex py-1 text-base font-medium text-gray-500">Progress</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="flex-1 py-16 pl-24">
      <h2 id="get-started" class="mb-7 text-3xl font-bold text-gray-700">Get started</h2>
      <section id="introduction">
        <h3 class="mb-7 text-2xl font-bold text-gray-600">Introduction</h3>
      </section>
      <hr class="my-12" />
      <h2 id="components" class="mb-7 text-3xl font-bold text-gray-700">Components</h2>
      <section id="button">
        <h3 class="mb-7 text-2xl font-bold text-gray-600">Button</h3>

        <div>
          <div role="tablist"></div>
          <div role="tabpanel" class="relative mt-4 flex aspect-video items-center justify-center border">
            {% call button({variant:'outline'}) %}
              Button
            {% endcall %}
          </div>
          {# <div role="tabpanel" class="relative mt-4 flex border"></div> #}
        </div>
      </section>
      <hr class="my-12" />
      <section id="progress">
        <h3 class="mb-7 text-2xl font-bold text-gray-600">Progress</h3>
        {% call progress({value: 40}) %}{% endcall %}
      </section>
    </div>
  </main>
  <footer></footer>
{% endblock %}

{% block foot %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/twig.min.js"></script>
  <script>
    (function () {
      const blocks = document.querySelectorAll('pre code');

      Array.from(blocks).forEach(function (block) {
        hljs.highlightBlock(block);
      });
    })();
  </script>
{% endblock %}
