{% macro checkbox(props = {}) %}
  {% set id = props.id | default('') %}
  {% set name = props.name | default('') %}
  {% set value = props.value | default('') %}
  {% set label = props.label | default('') %}
  {% set description = props.description | default('') %}
  {% set checked = props.checked | default(false) %}
  {% set disabled = props.disabled | default(false) %}

  <div class="group flex items-center space-x-2">
    <div class="relative flex items-center justify-center">
      <input
        type="checkbox"
        id="{{ id }}"
        name="{{ name }}"
        value="{{- value -}}"
        {% if checked %}checked{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if description %}aria-describedby="{{ id }}-description"{% endif %}
        class="h-4 w-4 appearance-none rounded-sm ring-1 ring-slate-900 transition-colors checked:bg-slate-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-400 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 disabled:ring-slate-300"
      />
      <svg
        class="pointer-events-none absolute h-3 w-3 opacity-0 stroke-white group-has-[input:checked]:opacity-100"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="4"
      >
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    </div>
    <label 
      for="{{ id }}" 
      class="flex flex-col group-has-[input:disabled]:cursor-not-allowed"
    >
      <span class="text-sm font-medium leading-none group-has-[input:disabled]:text-slate-300">{{- label -}}</span>
      {% if description %}
        <span 
          id="{{ id }}-description" 
          class="text-sm text-muted-foreground group-has-[input:disabled]:text-slate-300"
        >{{- description -}}</span>
      {% endif %}
    </label>
  </div>
{% endmacro %}

{% macro checkboxGroup(props = {}) %}
  {# Set default values #}
  {% set items = props.items | default([]) %}
  {% set name = props.name | default('') %}
  {% set defaultValue = props.defaultValue | default([]) %}
  {% set disabled = props.disabled | default(false) %}

  <div 
    role="group" 
    class="grid gap-2"
    {% if props.label %}
      aria-label="{{ props.label }}"
    {% endif %}
  >
    {% for item in items %}
      {{ checkbox({
        id: name + '-' + item.value,
        name: name,
        value: item.value,
        label: item.label,
        description: item.description,
        checked: item.value in defaultValue,
        disabled: disabled or item.disabled
      }) }}
    {% endfor %}
  </div>
{% endmacro %}
