{% macro dialog(props = {}) %}
<div
  x-data="{ open: false }"
  @keydown.escape.stop="open = false"
  class="relative"
>
  {# Trigger #}
  {{ props.trigger | safe }}

  <template x-teleport="body">
    <div
      x-show="open"
      class="fixed top-0 left-0 z-[99] flex items-center justify-center w-screen h-screen "
      data-dialog-container
      x-cloak
    >
      {# Backdrop #}
      <div
        x-show="open"
        x-transition:enter="ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="ease-in duration-300"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="absolute inset-0 w-full h-full bg-black bg-opacity-80"
        aria-hidden="true"
      ></div>

      {# Dialog content #}
      <div
        x-show="open"
        x-trap.inert.noscroll="open"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 translate-y-4"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-200"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-4"
        class="relative w-full py-6 bg-white px-7 sm:max-w-lg sm:rounded-lg"
        @click.away="open = false"
        role="dialog"
        aria-modal="true"
      >
        {# Close button #}
        <button
          @click="open = false"
          class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-accent data-[state=open]:text-muted-foreground"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
          <span class="sr-only">Close</span>
        </button>

        {# Content #} {{ caller() | safe }}
      </div>
    </div>
  </template>
</div>
{% endmacro %}
