{% macro textarea(props = {}) %}
  {% set baseClass = 'flex min-h-[60px] w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50' | safe %}

  <textarea
    {% if props.placeholder %}placeholder="{{ props.placeholder }}"{% endif %}
    {% if props.value %}value="{{ props.value }}"{% endif %}
    {% if props.disabled %}disabled{% endif %}
    {% if props.rows %}rows="{{ props.rows }}"{% endif %}
    class="{{ (baseClass ~ ' ' ~ props.class) | twMerge | safe }}"
  >{{- caller() | safe -}}</textarea>
{% endmacro %} 